<a href="https://colab.research.google.com/github/viperact/pythondemo/blob/main/01_%EC%9E%90%EB%A3%8C%ED%98%95_%ED%92%80%EC%9D%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

문제1)  
s ='Somewhere on the rainbow'를 'Somewhere over the rainbow'로 변환하세요.

In [ ]:
s = 'Somewhere on the rainbow'
s.replace('on', 'over')

'Somewhere over the rainbow'

문제2)  
s = '/usr/local/bin/python' 에서 각각의 디렉토리 경로명을 분리하여 출력하세요.

[실행결과]  
['', 'usr', 'local', 'bin', 'python']

In [ ]:
s = '/usr/local/bin/python'
s.split('/')

['', 'usr', 'local', 'bin', 'python']

문제3)   
'spam ham'을 'ham spam'으로 치환하세요.   

※문자열의 split( )과 join( )메서드 그리고 리스트의 reverse( )메서드를 사용

In [ ]:
s = 'spam ham'

ws = s.split()
print(ws)
ws.reverse()
print(ws)
' '.join(ws)

['spam', 'ham']
['ham', 'spam']

'ham spam'

문제4)   
문자열이 주어져 있을 때 'spam' 이 몇 번 나타나는지 구하시오.   
단, 대소문자 구분하지 않음

s = 'spam Spam SpaM egg eGG Egg ham hAm'

In [ ]:
s = 'spam Spam SpaM egg eGG Egg ham hAm'

s.lower().count('spam')

3

문제5)  
단어의 순서가 바뀐 문자열로 만들세요.  
s = 'Sometimes I feel like a motherless child'

[실행결과]    
'child motherless a like feel I Sometimes'  
'dlihc sselrehtom a ekil leef I semitemoS'  
'SometimesIfeellikeamotherlesschild'

In [ ]:
#단어의 순서 바꾸기
s = 'Sometimes I feel like a motherless child'

list(reversed(s.split()))
' '.join(reversed(s.split()))

'child motherless a like feel I Sometimes'

In [ ]:
# 문자열의 순서 뒤집기
s[::-1]

'dlihc sselrehtom a ekil leef I semitemoS'

In [ ]:
# 공백의 없애기

''.join(s.split())

['Sometimes', 'I', 'feel', 'like', 'a', 'motherless', 'child']

'SometimesIfeellikeamotherlesschild'

문제6)  
100  이하의 자연수 중에서 2의 배수이거나 3의 배수인 수의 개수를 구하세요.

[실행결과]  
67

In [ ]:
len(set(range(2, 101, 2)) | set(range(3, 101, 3)))

67

문제7)  
전체집합을 U로 할때 U의 부분집합 A와 B에 대해서  연산의 결과를 구현하세요.

U = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}  
A = {1, 3, 5, 7, 9}  
B = {1, 2, 3, 4, 5}  

가) A∩Bc 

나) (A∪B)c 

[실행결과]  
가) {7, 9} 
나) {6, 8, 10}

In [ ]:
U = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
A = {1, 3, 5, 7, 9}
B = {1, 2, 3, 4, 5}
A & (U - B)

{7, 9}

In [ ]:
U - (A | B)

{6, 8, 10}

문제8)      
주어진 문자열의 각 단어가 중복되지 않게 한 번씩만 출력이 되도록 구현하세요. (출력순서를 무관합니다.)      
s = 'one two one two three four'  


[실행결과]  
['two', 'four', 'one', 'three']

In [ ]:
s = 'one two one two three four'
list(set(s.split()))

['three', 'one', 'four', 'two']

문제9)  
튜플에 저장된 데이터에서 마지막 요소 5개를 삭제한뒤 나머지를 튜플로 출력하세요.   
data =1,2,3,4,5,6,7,8,9,10

[실행결과]  
(1, 2, 3, 4, 5)

In [ ]:
data =1,2,3,4,5,6,7,8,9,10
data = list(data)
del (data[-1:-6:-1])
print(tuple(data))

(1, 2, 3, 4, 5)

문제10)  
a변수에 저장된 문자열에서 인덱스 홀수, b변수에 저장된 문자열에서 인덱스 짝수만을 가져오는 연결하는 프로그램을 구현하세요.  
a='apple'  
b='strawberry'  

[실행결과]  
plsrwer

In [ ]:
a='apple'
b='strawberry'
print(a[1::2]+b[::2])

plsrwer