<a href="https://colab.research.google.com/github/viperact/pythondemo/blob/main/02_%EC%A0%9C%EC%96%B4%EB%AC%B8_%ED%92%80%EC%9D%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 [문제1]  
 if~else문을 이용해서 년도에 해당하는 띠를 구하는 프로그램을 구현하시오.  
 단, 년도은 input()으로 입력받음. 
 
   1. 12가지 띠  
      원숭이, 닭, 개, 돼지, 쥐, 소, 호랑이, 토끼, 용, 뱀, 말, 양  
   
   2. 띠구하는 공식  
     year%12의 결과가  
     0이면 "원숭이", 1이면 "닭"  2이면 "개",    3이면 "돼지",  
     4이면 "쥐",    5이면 "소", 6이면 "호랑이", 7이면 "토끼",  
     8이면 "용",    9이면 "뱀", 10이면 "말",   11이면 "양"  
     
   3. 출력결과  
     2012년도의 태생은  용띠입니다.

In [ ]:

year=int(input('년도 입력: '))
res = year%12;

if res==0:
    animal='원숭이'
elif res==1:
    animal='닭'
elif res== 2: 
    animal='개'
elif res==3:
    animal='돼지'
elif res==4: 
    animal='쥐'
elif res==5:
    animal='소'
elif res== 6: 
    animal='호랑이'
elif res==7:
    animal='토끼'
elif res==8: 
    animal='용'
elif res==9:
    animal='뱀'
elif res==10: 
    animal='말'
else:
    animal='양'
    
print('{}년도의 태생은 {}입니다.'.format(year, animal))

년도 입력: 2012
2012년도의 태생은 용입니다.

[문제2]   
for문을 이용해서  1부터 10까지 합계 구하기

In [ ]:
temp = 0
for i in range(1, 11):  
    temp += i  # temp = temp + i
print(temp)

55

[문제3]  
for문을 이용해서 1부터 10까지  홀수, 짝수 합계 구하기

In [ ]:
odd = 0  # 홀수
even = 0 # 짝수
for i in range(1, 11):   # i=10
    if i%2 == 0:
        even += i # even=30
    else:
        odd += i  # odd=25
print('홀수 합계:', odd)
print('짝수 합계:', even)

홀수 합계: 25
짝수 합계: 30

[문제4]  
A 학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.  

[70, 60, 55, 75, 95, 90, 80, 80, 85, 100]  

for문을 사용하여 A 학급의 평균 점수를 구해 보자.

In [ ]:
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total = 0

for score in A:
    total += score    #  total = total + score    A학급의 점수를 모두 더한다.

average = total / len(A) # 평균을 구하기 위해 총 점수를 총 학생수로 나눈다.
print(average) # 평균 79.0이 출력된다.

79.0

[문제5] 
중첩if를 이용하여 프로그램을 작성하시오.  
3과목의 점수를 입력받아서 "합격" 또는 "불합력"을  출력하시오.  
3개의 과목이 전부 40이상이어야 하고 평균이 60이어야 "합격" 출력  
평균이 60이 넘지만 1개의 과목이라도 40 미만이면 "과락으로 불합격" 출력  
평균이 60미만이면 "불합격" 출력 

[실행결과1]  
국어점수입력 : 75  
영어점수입력 : 80  
수학점수입력 : 100  
 합격을 축하합니다.  


[실행결과2]
국어점수입력 : 95  
영어점수입력 : 80  
수학점수입력 : 38  
과락으로 불합격입니다.  
  
[실행결과3]  
국어점수입력 : 32  
영어점수입력 : 40  
수학점수입력 : 22  
불합격입니다.

In [ ]:
kor = int(input("국어점수입력 :"))
eng = int(input("영어점수입력 : "))
mat = int(input("수학점수입력 : "))

tot = kor + eng + mat;
avg = tot / 3.0;

#여기에 구현하시오.

if (avg >= 60.0):
      
    if (not(kor >= 40 and eng >= 40 and mat >= 40)):
        print("과락으로 불합격입니다.")
    else:
        print("합격을 축하합니다.")

else:
    print("불합격입니다.")

국어점수입력 :78
영어점수입력 : 40
수학점수입력 : 58
불합격입니다.