<a href="https://colab.research.google.com/github/viperact/pythondemo/blob/main/02_%EC%A0%9C%EC%96%B4%EB%AC%B8_%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[문제1]  
 input()으로 데이터를 입력 받는다. 입력받은 데이터가 영문자 대문자이면 "?  
    는 대문자입니다",  소문자이면 "?는 소문자입니다"   
    그외는 "?는 기타입니다"로 출력하는 프로그램을 구현하시오.

  [실행결과]   
   data='D'  => D는 대문자입니다.  
   data='d'  => d는 소문자입니다.  
   data='1'  => 1는 기타입니다.

문자 입력: D
D는 대문자입니다.

[문제2]  
물품판매에 대한 판매금액을 계산하는 프로그램을 구현하시오.
  
판매수량*판매단가 금액이   
30000미만일때 "택배" 배달이면 3000원  
"퀵"  배달이면  12000원의 배달료를 부여한다.  
단 그 외는 0원의 배달료를 부여한다.  
      
[출력결과]  
물품금액 : 20,000원  
배달금액 :  3000원  
총  금액 : 23,000원

In [ ]:
salesCount = 2 # 판매수량
salesMoney = 10000  # 판매단가
delivery = "택배" # 배달방법
product = salesCount * salesMoney # 물품금액
deliveryMoney = 0 # 배달금액
totalMoney = 0 # 총금액

# 여기에 구현하시오.

[문제3]  
차량5부제 프로그램을 구현하시오.  
 
차량의 끝번호가 아래에 해당하면 해당 요일은 차량운행을 제한한다.  
 
1,6 = 월요일  
2,7 = 화요일  
3,8 = 수요일  
4,9 = 목요일  
5,0 = 금요일  
    
[출력결과]
차량번호의 끝자리가 5이면  금요일 운행을 제한합니다.

In [ ]:
car_num = 5;
day="";
		
#여기에서 구현하세요////////////////////////////////

[문제4]  
직급에 따른 수령 월급  
과장 - 250  
대리 - 200  
사원 - 150  
  
 초과수당 - 
 총 20시간 이상은 20  
 총 10시간 이상 20시간 미만은 10  
 10시간 미만은 0  
 
  예) 직급이 대리이면 200만원의 월급을 수령한다. 초과근무는 1시간 근무 수행.
 
[출력 결과]  
직급은 대리이며, 이번달 초과근무는 총 13시간을 하셨습니다.    
수령하실 월급은 210만원입니다.

In [ ]:
grade = "대리" # 직급
overtime = 13  #총 초과근무시간
money = 0      #수령 월급

# 여기에서 구현하세요. /////////

[문제5]  
for문을 이용해서 12의 약수를 구하시오.  
약수 : 어떤 수를 나누어서 0으로 떨어진 수  

[출력결과]
1  
2   
3   
4   
6   
12

1
2
3
4
6
12

[문제6]  
2001부터 2012년사이에서 윤년을 구하시오.  
[출력결과]  
 2004  
 2008  
 2012

2004
2008
2012

[문제7]  
10=2x+3y의 해를 구하시오.  
 x와y의 범위 : 0<=x<=10,  0<=y<=10  
   
[출력결과]  
  x=2, y=2
  x=5, y=0

[문제8]

여기에 3의 배수의 개수와 합을 구하는 코드를 작성하세요.   
data = [ 1, 3, 5, 8, 9, 11, 15, 19, 18, 20, 30, 33, 31]  

[출력결과]  
 주어진 배열에서 3의 배수의 개수=> 6   
주어진 배열에서 3의 배수의 합=> 108

In [ ]:
[문제9]

1 ~ 10까지 홀수만 구하기

[출력결과]
[1, 3, 5, 7, 9]

[문제10]
주어진 조건에서 1의 갯수를 구하시오.

data = (1,4,5,1,1,3,2)

[출력결과]  
[1, 1, 1]  
3