<a href="https://colab.research.google.com/github/viperact/pythondemo/blob/main/python_16_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

### 버전 확인

In [ ]:
# python
import sys
print(sys.version)

!python --version

3.8.16 (default, Dec  7 2022, 01:12:13)
[GCC 7.5.0]
Python 3.8.16

In [ ]:
# numpy
np.__version__

'1.21.6'

In [ ]:
# pandas
pd.__version__

'1.3.5'

In [ ]:
# 구글colab에 설치되어있는 라이브러리의 기본 버전들
!pip freeze

numpy datatype : ndarry, matrix  
pandas datatype : Series (벡터형식), DataFrame(행렬형식)

In [1]:
# 구글 드라이브 연동
from google.colab import drive
drive.mount('/content/drive')

%cd /content/drive/MyDrive/python_demo

Mounted at /content/drive
/content/drive/MyDrive/python_demo

### 파일 형식 데이터 불러오기

In [ ]:
# 읽어오는 파일에 컬럼명이 없으면 header = None을 설정한다
# 그렇지 않으면 첫번째 줄을 컬럼명으로 인식을 하기 때문이다.
# header파라미터의 default:'infer'
data = pd.read_csv('pdsample/num.txt', header = None) # header 없음 None으로 지정
data

   0  1  2  3   4
0  1  2  3  4   5
1  6  7  8  9  10

In [ ]:
type(data) # 행렬(DataFrame)

pandas.core.frame.DataFrame

In [ ]:
# 컬럼(열)의 index값 가져오기
# 행의 번호도 같이 출력됨
print(data[0])
print(type(data[0])) # Series

0    1
1    6
Name: 0, dtype: int64
<class 'pandas.core.series.Series'>

In [ ]:
# DataFrame에서의 행 가져오기
# index(행)
print(data.iloc[0])
print(type(data.iloc[0])) # Series

0    1
1    2
2    3
3    4
4    5
Name: 0, dtype: int64
<class 'pandas.core.series.Series'>

In [ ]:
# numpy 참고
a = np.arange(12).reshape(3, 4)
print(a)
print(a[1][2])
print(a[1])
print(a[1, 2:])

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]
6
[4 5 6 7]
[6 7]

In [ ]:
# python
b =[[ 0, 1, 2, 3],
 [ 4, 5, 6, 7],
 [ 8, 9, 10, 11]]
print(b[1][2])
print(b[1])
# print(b[1, 2:]) # list에선 슬라이싱 적용안됨

6
[4, 5, 6, 7]

TypeError: ignored

In [ ]:
# .values를 하면 numpy 포맷으로 변환한다.
# 내부적으로 numpy로 되어있기 때문에 가능하다.
print(data.values) # 값을 가져옴
print(type(data.values)) # numpy.ndarray
data.values

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]]
<class 'numpy.ndarray'>

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10]])

In [ ]:
# __array__가 있으면 numpy와 호환된다.
dir(data)

### 웹 주소에서 데이터 불러오기

In [3]:
# header는 기본이 첫줄을 컬럼명으로 가져오도록 설정이 되어있기 때문에 header = 'infer' 는 생략가능하다.
data = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv', header = 'infer')
data

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [ ]:
# 전반적인 데이터 정보 확인
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB

In [ ]:
# 기본적으로 앞의 5개를 보여줌
data.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
# 마지막 5개를 보여줌
data.tail()

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [ ]:
# 무작위로 1개를 선택하여 보여줌
data.sample()

    total_bill   tip   sex smoker  day    time  size
55       19.49  3.51  Male     No  Sun  Dinner     2

In [ ]:
# 보여줄 갯수를 지정할 수 있음
# data.head(10)
# data.tail(10)
data.sample(10)

     total_bill   tip     sex smoker   day    time  size
97        12.03  1.50    Male    Yes   Fri  Dinner     2
117       10.65  1.50  Female     No  Thur   Lunch     2
137       14.15  2.00  Female     No  Thur   Lunch     2
58        11.24  1.76    Male    Yes   Sat  Dinner     2
118       12.43  1.80  Female     No  Thur   Lunch     2
95        40.17  4.73    Male    Yes   Fri  Dinner     4
175       32.90  3.11    Male    Yes   Sun  Dinner     2
177       14.48  2.00    Male    Yes   Sun  Dinner     2
40        16.04  2.24    Male     No   Sat  Dinner     3
83        32.68  5.00    Male    Yes  Thur   Lunch     2

In [ ]:
# 데이터만 가져옴 (2차배열)
data.values

array([[16.99, 1.01, 'Female', ..., 'Sun', 'Dinner', 2],
       [10.34, 1.66, 'Male', ..., 'Sun', 'Dinner', 3],
       [21.01, 3.5, 'Male', ..., 'Sun', 'Dinner', 3],
       ...,
       [22.67, 2.0, 'Male', ..., 'Sat', 'Dinner', 2],
       [17.82, 1.75, 'Male', ..., 'Sat', 'Dinner', 2],
       [18.78, 3.0, 'Female', ..., 'Thur', 'Dinner', 2]], dtype=object)

In [ ]:
# 행의대한 정보를 가져옴
data.index

RangeIndex(start=0, stop=244, step=1)

In [ ]:
# 컬럼에 대한 정보를 가져옴
data.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [ ]:
# dict 타입
dictable = {'name':'홍길동', 'age':'30'}
# dictable.name # attribute error
dictable['name']

'홍길동'

In [ ]:
dir(dict)
dict.items

In [ ]:
# pandas 에서는 dictionary와 attribute 방식 모두 가져올 수 있다.
# dictionary 방식 이용
print(data ['tip'])
data['tip'][2] # tip에 있는 2번째 index

0      1.01
1      1.66
2      3.50
3      3.31
4      3.61
       ...
239    5.92
240    2.00
241    2.00
242    1.75
243    3.00
Name: tip, Length: 244, dtype: float64

3.5

In [ ]:
# attribute 방식 이용
data.tip

0      1.01
1      1.66
2      3.50
3      3.31
4      3.61
       ...
239    5.92
240    2.00
241    2.00
242    1.75
243    3.00
Name: tip, Length: 244, dtype: float64

In [ ]:
# KeyError
# 컬럼을 fancy indexing을 이용해서 가져올 때 index(행)를 이용해서 가져올 수 있다.
# data[[0, 2]]
data[['tip','day']]

# data['tip', 'day']
# data[['tip', 'day']] # fancy indexing으로 컬럼만 가져올 수 있다.

      tip   day
0    1.01   Sun
1    1.66   Sun
2    3.50   Sun
3    3.31   Sun
4    3.61   Sun
..    ...   ...
239  5.92   Sat
240  2.00   Sat
241  2.00   Sat
242  1.75   Sat
243  3.00  Thur

[244 rows x 2 columns]

In [ ]:
# TypeError 발생
# 컬럼을 slicing을 이용해서 가져올 수 없다.
# data['tip':'day']

# row를 slicing을 이용해서 가져올때는 index를 이용해서 가져온다.
data[1:3]

   total_bill   tip   sex smoker  day    time  size
1       10.34  1.66  Male     No  Sun  Dinner     3
2       21.01  3.50  Male     No  Sun  Dinner     3

In [ ]:
# KeyError
# data[3] # 행을 dict방식으로 가져오지 못함
data.iloc[3] # indexing

total_bill     23.68
tip             3.31
sex             Male
smoker            No
day              Sun
time          Dinner
size               2
Name: 3, dtype: object

하나의 컬럼 또는 행을 가져오면 Series로 리턴한다.  
fancy indexing을 이용해서 하나의 컬럼 또는 행을 가져오면 DataFrame으로 리턴한다.

In [ ]:
type(data.iloc[3])

pandas.core.series.Series

In [ ]:
type(data['tip']) # Series
# type(data.tip)    # Series

pandas.core.series.Series

In [ ]:
type(data[['tip']]) # DataFrame (fancy indexing은 원래의 데이터형태로 가져옴)

pandas.core.frame.DataFrame

In [ ]:
data.iloc[0:5] # 0에서부터 5미만의 index
data.iloc[0:5, :] # slicing을 이용할때는 앞에는 0:5행, 뒤에는 :(모두) 열

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
data.iloc[[0, 3, 5]] # fancy indexing, iloc가 들어가면 행을의미, 없으면 열을의미
# data[['tip', 'smoker', 'day']] # columns

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
3       23.68  3.31    Male     No  Sun  Dinner     2
5       25.29  4.71    Male     No  Sun  Dinner     4

In [ ]:
# 3행 1열의 표기법들 
data.iloc[3][1] # list : a[3][1] # array : a[3, 1]

3.31

In [ ]:
# 0행부터 3행미만, 1열부터 4열 미만 표시
data.iloc[0:3, 1:4]

    tip     sex smoker
0  1.01  Female     No
1  1.66    Male     No
2  3.50    Male     No

In [ ]:
data.iloc[[0, 3, 5], [1, 4, 5]]

    tip  day    time
0  1.01  Sun  Dinner
3  3.31  Sun  Dinner
5  4.71  Sun  Dinner

iloc는 indexer를 이용해서 가져오고, loc는 이름(컬럼명)을 이용해서 가져온다.

In [ ]:
# 행은 이름이 설정되어 있지 않아서 자동으로 생성된 Range Index가 이름이 된다.
data.loc[0, 'tip']

1.01

In [ ]:
data.loc[0:5, 'tip':'time']

    tip     sex smoker  day    time
0  1.01  Female     No  Sun  Dinner
1  1.66    Male     No  Sun  Dinner
2  3.50    Male     No  Sun  Dinner
3  3.31    Male     No  Sun  Dinner
4  3.61  Female     No  Sun  Dinner
5  4.71    Male     No  Sun  Dinner

In [ ]:
data.loc[[0, 3, 5], ['tip', 'day', 'time']]

    tip  day    time
0  1.01  Sun  Dinner
3  3.31  Sun  Dinner
5  4.71  Sun  Dinner

### at
이름으로 한 위치의 값만 가져온다.

In [ ]:
data.at[0, 'tip']
# data.loc[0, 'tip']
# data.iloc[0, 1]

1.01

In [ ]:
# at은 slicing을 사용할 수 없다.
data.at[0:3, 'tip']

TypeError: ignored

In [ ]:
# at은 fancy indexing을 사용할 수 없다
data.at[[1, 3, 5], ['tip', 'smoker', 'day']]

TypeError: ignored

### iat
iat은 index 번호로 한 위치의 값을 가져온다.  
integer, indexers 만 사용할 수 있다.

In [ ]:
# at은 loc로, iat은 index로
data.iat[0, 1]
# data.at[0, 'tip']

1.01

In [ ]:
# iat은 slicing을 사용할 수 없다.
# iat은 fancy indexing을 사용할 수 없다.
data.iat[0:3, 1]

ValueError: ignored

### Boolean Indexing

In [ ]:
# data.tip >= 5
data['tip'] >= 5

0      False
1      False
2      False
3      False
4      False
       ...
239     True
240    False
241    False
242    False
243    False
Name: tip, Length: 244, dtype: bool

In [ ]:
# tip값이 5 이상인것만 출력
data[data['tip'] >= 5] # data[True, False, True, True....]

     total_bill    tip     sex smoker   day    time  size
11        35.26   5.00  Female     No   Sun  Dinner     4
23        39.42   7.58    Male     No   Sat  Dinner     4
39        31.27   5.00    Male     No   Sat  Dinner     3
44        30.40   5.60    Male     No   Sun  Dinner     4
46        22.23   5.00    Male     No   Sun  Dinner     2
47        32.40   6.00    Male     No   Sun  Dinner     4
52        34.81   5.20  Female     No   Sun  Dinner     4
59        48.27   6.73    Male     No   Sat  Dinner     4
73        25.28   5.00  Female    Yes   Sat  Dinner     2
83        32.68   5.00    Male    Yes  Thur   Lunch     2
85        34.83   5.17  Female     No  Thur   Lunch     4
88        24.71   5.85    Male     No  Thur   Lunch     2
116       29.93   5.07    Male     No   Sun  Dinner     4
141       34.30   6.70    Male     No  Thur   Lunch     6
142       41.19   5.00    Male     No  Thur   Lunch     5
143       27.05   5.00  Female     No  Thur   Lunch     6
155       29.85   5.14  Female     No   Sun  Dinner     5
156       48.17   5.00    Male     No   Sun  Dinner     6
170       50.81  10.00    Male    Yes   Sat  Dinner     3
172        7.25   5.15    Male    Yes   Sun  Dinner     2
181       23.33   5.65    Male    Yes   Sun  Dinner     2
183       23.17   6.50    Male    Yes   Sun  Dinner     4
185       20.69   5.00    Male     No   Sun  Dinner     5
197       43.11   5.00  Female    Yes  Thur   Lunch     4
211       25.89   5.16    Male    Yes   Sat  Dinner     4
212       48.33   9.00    Male     No   Sat  Dinner     4
214       28.17   6.50  Female    Yes   Sat  Dinner     3
239       29.03   5.92    Male     No   Sat  Dinner     3

In [ ]:
data.tip
data['tip']

# data[data['tip'] >= 5]
# a['tip']

print(data[data['tip'] >= 5]['tip']) # data[data['tip'] >= 5] 의 결과는 DataFrame
data['tip'][3] # data['tip]의 결과는 Series

11      5.00
23      7.58
39      5.00
44      5.60
46      5.00
47      6.00
52      5.20
59      6.73
73      5.00
83      5.00
85      5.17
88      5.85
116     5.07
141     6.70
142     5.00
143     5.00
155     5.14
156     5.00
170    10.00
172     5.15
181     5.65
183     6.50
185     5.00
197     5.00
211     5.16
212     9.00
214     6.50
239     5.92
Name: tip, dtype: float64

3.31

In [ ]:
data[data['tip'] >= 5].loc[:, 'tip':'day']

       tip     sex smoker   day
11    5.00  Female     No   Sun
23    7.58    Male     No   Sat
39    5.00    Male     No   Sat
44    5.60    Male     No   Sun
46    5.00    Male     No   Sun
47    6.00    Male     No   Sun
52    5.20  Female     No   Sun
59    6.73    Male     No   Sat
73    5.00  Female    Yes   Sat
83    5.00    Male    Yes  Thur
85    5.17  Female     No  Thur
88    5.85    Male     No  Thur
116   5.07    Male     No   Sun
141   6.70    Male     No  Thur
142   5.00    Male     No  Thur
143   5.00  Female     No  Thur
155   5.14  Female     No   Sun
156   5.00    Male     No   Sun
170  10.00    Male    Yes   Sat
172   5.15    Male    Yes   Sun
181   5.65    Male    Yes   Sun
183   6.50    Male    Yes   Sun
185   5.00    Male     No   Sun
197   5.00  Female    Yes  Thur
211   5.16    Male    Yes   Sat
212   9.00    Male     No   Sat
214   6.50  Female    Yes   Sat
239   5.92    Male     No   Sat

In [ ]:
data[data['tip'] >= 5].iloc[:, 1:5]

       tip     sex smoker   day
11    5.00  Female     No   Sun
23    7.58    Male     No   Sat
39    5.00    Male     No   Sat
44    5.60    Male     No   Sun
46    5.00    Male     No   Sun
47    6.00    Male     No   Sun
52    5.20  Female     No   Sun
59    6.73    Male     No   Sat
73    5.00  Female    Yes   Sat
83    5.00    Male    Yes  Thur
85    5.17  Female     No  Thur
88    5.85    Male     No  Thur
116   5.07    Male     No   Sun
141   6.70    Male     No  Thur
142   5.00    Male     No  Thur
143   5.00  Female     No  Thur
155   5.14  Female     No   Sun
156   5.00    Male     No   Sun
170  10.00    Male    Yes   Sat
172   5.15    Male    Yes   Sun
181   5.65    Male    Yes   Sun
183   6.50    Male    Yes   Sun
185   5.00    Male     No   Sun
197   5.00  Female    Yes  Thur
211   5.16    Male    Yes   Sat
212   9.00    Male     No   Sat
214   6.50  Female    Yes   Sat
239   5.92    Male     No   Sat

In [ ]:
data[data['tip'] >= 5][['tip','day']]

       tip   day
11    5.00   Sun
23    7.58   Sat
39    5.00   Sat
44    5.60   Sun
46    5.00   Sun
47    6.00   Sun
52    5.20   Sun
59    6.73   Sat
73    5.00   Sat
83    5.00  Thur
85    5.17  Thur
88    5.85  Thur
116   5.07   Sun
141   6.70  Thur
142   5.00  Thur
143   5.00  Thur
155   5.14   Sun
156   5.00   Sun
170  10.00   Sat
172   5.15   Sun
181   5.65   Sun
183   6.50   Sun
185   5.00   Sun
197   5.00  Thur
211   5.16   Sat
212   9.00   Sat
214   6.50   Sat
239   5.92   Sat

요일이 'Sun'이거나 'Sat'의 tip과 day의 값 가져오기

In [ ]:
data[(data['day'] == 'Sun') | (data['day'] == 'Sat')][['tip','day']]

# 조건을 정확하게 가져왔는지 확인
a = data[(data['day'] == 'Sun') | (data['day'] == 'Sat')]
a['day'].unique()
a[['tip', 'day']]

      tip  day
0    1.01  Sun
1    1.66  Sun
2    3.50  Sun
3    3.31  Sun
4    3.61  Sun
..    ...  ...
238  4.67  Sat
239  5.92  Sat
240  2.00  Sat
241  2.00  Sat
242  1.75  Sat

[163 rows x 2 columns]

In [ ]:
# print(len([1, 2, 3]))
# print(len('123'))
# print(len({'a':1, 'b':2, 'c':3}))
# len(data)

# [1, 2, 3].size # AttributeError
# '123'.size # AttributeError
# {'a':1, 'b':2, 'c':3}.size # AttributeError
import numpy as np
(np.array([1, 2, 3])).size
data.size # 244 * 7 행과 열의 곱
data['tip'].size
data.tip

0      1.01
1      1.66
2      3.50
3      3.31
4      3.61
       ...
239    5.92
240    2.00
241    2.00
242    1.75
243    3.00
Name: tip, Length: 244, dtype: float64

In [ ]:
# 컬럼명을 바꿀때 mapper, columns 옵션을 이용해서 변경할 수 있다.
# axis = 0 : index
# axis = 1 : columns
data2 = data.rename(mapper = {'size':'size_'}, axis = 1)
data2 = data.rename(columns = {'size':'size_'})
data2

     total_bill   tip     sex smoker   day    time  size_
0         16.99  1.01  Female     No   Sun  Dinner      2
1         10.34  1.66    Male     No   Sun  Dinner      3
2         21.01  3.50    Male     No   Sun  Dinner      3
3         23.68  3.31    Male     No   Sun  Dinner      2
4         24.59  3.61  Female     No   Sun  Dinner      4
..          ...   ...     ...    ...   ...     ...    ...
239       29.03  5.92    Male     No   Sat  Dinner      3
240       27.18  2.00  Female    Yes   Sat  Dinner      2
241       22.67  2.00    Male    Yes   Sat  Dinner      2
242       17.82  1.75    Male     No   Sat  Dinner      2
243       18.78  3.00  Female     No  Thur  Dinner      2

[244 rows x 7 columns]

In [ ]:
data.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

### category
- category는 문자열(object)보다 더 많은 기능을 할 수 있다.
- catrgory는 문자 또는 숫자도 가능하다.
- category는 몇개로 분류할 수 있을 때 사용한다.
 - ex) 성별(남,여)

In [6]:
# 행의갯수, 열의갯수, 데이터 타입을 알아볼 수 있다.
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB

In [8]:
type(data['sex']) # Series

pandas.core.series.Series

In [10]:
# 문자열은 object
print(data['sex'].dtype) # object

object

In [14]:
# object를 category로 데이터 타입을 변경한다.
data['sex'] = data['sex'].astype('category')

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: category(1), float64(2), int64(1), object(3)
memory usage: 11.9+ KB

In [19]:
data.sample()

     total_bill  tip     sex smoker  day    time  size
169       10.63  2.0  Female    Yes  Sat  Dinner     2

In [28]:
# data에서 Female만 가져오기
# data[data['sex'] == 'Female']
# attribute 방식
data[data.sex == 'Female']

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
11        35.26  5.00  Female     No   Sun  Dinner     4
14        14.83  3.02  Female     No   Sun  Dinner     2
16        10.33  1.67  Female     No   Sun  Dinner     3
..          ...   ...     ...    ...   ...     ...   ...
226       10.09  2.00  Female    Yes   Fri   Lunch     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[87 rows x 7 columns]

In [30]:
# data[data['sex'] == 'Female']['sex'].unique()
data[data.sex == 'Female']['sex'].unique()

['Female']
Categories (2, object): ['Female', 'Male']

### 금요일에 온 여자만 가져오기

In [51]:
data['day'].unique()
# dictionary 방식
data[(data['day'] == 'Fri') & (data['sex'] == 'Female')]
# attribute 방식
data[(data.day == 'Fri') & (data.sex == 'Female')]

     total_bill   tip     sex smoker  day    time  size
92         5.75  1.00  Female    Yes  Fri  Dinner     2
93        16.32  4.30  Female    Yes  Fri  Dinner     2
94        22.75  3.25  Female     No  Fri  Dinner     2
100       11.35  2.50  Female    Yes  Fri  Dinner     2
101       15.38  3.00  Female    Yes  Fri  Dinner     2
221       13.42  3.48  Female    Yes  Fri   Lunch     2
223       15.98  3.00  Female     No  Fri   Lunch     3
225       16.27  2.50  Female    Yes  Fri   Lunch     2
226       10.09  2.00  Female    Yes  Fri   Lunch     2

In [56]:
data[(data['day'] == 'Fri') & (data['sex'] == 'Female')]['sex'].unique()

data[(data.day == 'Fri') & (data.sex == 'Female')]['day'].unique()

array(['Fri'], dtype=object)

### describe
 - describe는 기초적인 통계 분석을 해준다.

In [58]:
# describe()의 기본은 데이터가 숫자로 된 컬럼만 가져온다.
data.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [60]:
type(data.describe())

pandas.core.frame.DataFrame

In [63]:
# pandas는 numpy기반이라서 numpy 기능을 사용할 수 있다.
data.describe().T

            count       mean       std   min      25%     50%      75%    max
total_bill  244.0  19.785943  8.902412  3.07  13.3475  17.795  24.1275  50.81
tip         244.0   2.998279  1.383638  1.00   2.0000   2.900   3.5625  10.00
size        244.0   2.569672  0.951100  1.00   2.0000   2.000   3.0000   6.00

In [66]:
# describe()는 기본적으로 숫자형 데이터만 분석한다.
# include옵션은 사용하면 다른 분석할 데이터 타입을 지정할 수 있다.
data.describe(include = ['object'])
data.describe(include = ['float64', 'object']) # 숫자항목일때는 object항목이 NaN, object항목일때는 숫자항목이 NaN

        total_bill         tip smoker  day    time
count   244.000000  244.000000    244  244     244
unique         NaN         NaN      2    4       2
top            NaN         NaN     No  Sat  Dinner
freq           NaN         NaN    151   87     176
mean     19.785943    2.998279    NaN  NaN     NaN
std       8.902412    1.383638    NaN  NaN     NaN
min       3.070000    1.000000    NaN  NaN     NaN
25%      13.347500    2.000000    NaN  NaN     NaN
50%      17.795000    2.900000    NaN  NaN     NaN
75%      24.127500    3.562500    NaN  NaN     NaN
max      50.810000   10.000000    NaN  NaN     NaN

In [70]:
# 데이터 타입이 object일때만 가져온다.
# data.describe(include = ['object']
data.describe(include = 'O') # 대문자 알파벳 O

       smoker  day    time
count     244  244     244
unique      2    4       2
top        No  Sat  Dinner
freq      151   87     176

In [71]:
np.number

numpy.number

In [83]:
data.describe(include = ['float64'])
data.describe(include = np.number)

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [87]:
# 모든 타입의 데이터를 분석할때는 include = 'all'로 설정한다.
data.describe(include = 'all')

        total_bill         tip   sex smoker  day    time        size
count   244.000000  244.000000   244    244  244     244  244.000000
unique         NaN         NaN     2      2    4       2         NaN
top            NaN         NaN  Male     No  Sat  Dinner         NaN
freq           NaN         NaN   157    151   87     176         NaN
mean     19.785943    2.998279   NaN    NaN  NaN     NaN    2.569672
std       8.902412    1.383638   NaN    NaN  NaN     NaN    0.951100
min       3.070000    1.000000   NaN    NaN  NaN     NaN    1.000000
25%      13.347500    2.000000   NaN    NaN  NaN     NaN    2.000000
50%      17.795000    2.900000   NaN    NaN  NaN     NaN    2.000000
75%      24.127500    3.562500   NaN    NaN  NaN     NaN    3.000000
max      50.810000   10.000000   NaN    NaN  NaN     NaN    6.000000

In [90]:
# day컬럼의 요소갯수 244개
data['day'].values.size

244

In [92]:
# value_counts()는 unique한 값과 그 갯수를 알려준다.(Series만 사용한다.)
data['day'].value_counts()

Sat     87
Sun     76
Thur    62
Fri     19
Name: day, dtype: int64

In [96]:
data['sex'].value_counts()

Male      157
Female     87
Name: sex, dtype: int64

In [98]:
data['size'].value_counts()

2    156
3     38
4     37
5      5
1      4
6      4
Name: size, dtype: int64

In [103]:
# 주말고객수와 평일고객수를 구하기
a = (data['day'] == 'Sat') | (data['day'] == 'Sun')
a.value_counts() # True = 주말 고객수, False = 평일 고객수

True     163
False     81
Name: day, dtype: int64

In [105]:
# 1 in [1, 2, 3, 4] 
5 in [1, 2, 3, 4]

False

In [110]:
# 같은 컬럼에 있는 값을 가지고 검색할때 isin()을 사용할 수 있다.
b = data['day'].isin({'Sun', 'Sat'})
b.value_counts()

True     163
False     81
Name: day, dtype: int64

In [111]:
b.unique()

array([ True, False])

### where (numpy)

In [119]:
a = np.array([10, 20, 30, 40, 50])
a

array([10, 20, 30, 40, 50])

In [121]:
# where의 인자는 조건이다.(논리값)
# 조건만 넣을 경우 True의 위치(True의 index값)를 리턴한다
np.where(a > 30) # index값으로 리턴된다.

(array([3, 4]),)

In [122]:
# where는 인자 갯수에 따라서 기능이 달라진다.
# 조건이 True이면 0으로 리턴, False이면 100으로 리턴
np.where(a > 30, 0, 100)

array([100, 100, 100,   0,   0])

describe( ) 결과를 pandas에서 제공하는 함수

In [128]:
data.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [124]:
data['tip'].count()

244

In [130]:
data['tip'].mean()

2.99827868852459

In [132]:
data['tip'].max()

10.0

In [133]:
data['tip'].min()

1.0

In [134]:
data['tip'].std()

1.3836381890011822

describe( ) 결과를 numpy에서 제공하는 함수

In [147]:
import numpy.ma as ma

In [142]:
# numpy는 기본적으로 deepcopy, python에서는 기본적으로 shadowcopy
kk = data.values[:, 1].copy() # deepcopy
kk

array([1.01, 1.66, 3.5, 3.31, 3.61, 4.71, 2.0, 3.12, 1.96, 3.23, 1.71,
       5.0, 1.57, 3.0, 3.02, 3.92, 1.67, 3.71, 3.5, 3.35, 4.08, 2.75,
       2.23, 7.58, 3.18, 2.34, 2.0, 2.0, 4.3, 3.0, 1.45, 2.5, 3.0, 2.45,
       3.27, 3.6, 2.0, 3.07, 2.31, 5.0, 2.24, 2.54, 3.06, 1.32, 5.6, 3.0,
       5.0, 6.0, 2.05, 3.0, 2.5, 2.6, 5.2, 1.56, 4.34, 3.51, 3.0, 1.5,
       1.76, 6.73, 3.21, 2.0, 1.98, 3.76, 2.64, 3.15, 2.47, 1.0, 2.01,
       2.09, 1.97, 3.0, 3.14, 5.0, 2.2, 1.25, 3.08, 4.0, 3.0, 2.71, 3.0,
       3.4, 1.83, 5.0, 2.03, 5.17, 2.0, 4.0, 5.85, 3.0, 3.0, 3.5, 1.0,
       4.3, 3.25, 4.73, 4.0, 1.5, 3.0, 1.5, 2.5, 3.0, 2.5, 3.48, 4.08,
       1.64, 4.06, 4.29, 3.76, 4.0, 3.0, 1.0, 4.0, 2.55, 4.0, 3.5, 5.07,
       1.5, 1.8, 2.92, 2.31, 1.68, 2.5, 2.0, 2.52, 4.2, 1.48, 2.0, 2.0,
       2.18, 1.5, 2.83, 1.5, 2.0, 3.25, 1.25, 2.0, 2.0, 2.0, 2.75, 3.5,
       6.7, 5.0, 5.0, 2.3, 1.5, 1.36, 1.63, 1.73, 2.0, 2.5, 2.0, 2.74,
       2.0, 2.0, 5.14, 5.0, 3.75, 2.61, 2.0, 3.5, 2.5, 2.0, 2.0, 3.0,
       3.48, 2.24, 4.5, 1.61, 2.0, 10.0, 3.16, 5.15, 3.18, 4.0, 3.11, 2.0,
       2.0, 4.0, 3.55, 3.68, 5.65, 3.5, 6.5, 3.0, 5.0, 3.5, 2.0, 3.5, 4.0,
       1.5, 4.19, 2.56, 2.02, 4.0, 1.44, 2.0, 5.0, 2.0, 2.0, 4.0, 2.01,
       2.0, 2.5, 4.0, 3.23, 3.41, 3.0, 2.03, 2.23, 2.0, 5.16, 9.0, 2.5,
       6.5, 1.1, 3.0, 1.5, 1.44, 3.09, 2.2, 3.48, 1.92, 3.0, 1.58, 2.5,
       2.0, 3.0, 2.72, 2.88, 2.0, 3.0, 3.39, 1.47, 3.0, 1.25, 1.0, 1.17,
       4.67, 5.92, 2.0, 2.0, 1.75, 3.0], dtype=object)

In [148]:
# tips 데이터셋에서 tip만 가져옴
xx = ma.array(data.values[:, 1]) # 전체행의 1번째 열의 값만 가져온다.
xx

masked_array(data=[1.01, 1.66, 3.5, 3.31, 3.61, 4.71, 2.0, 3.12, 1.96,
                   3.23, 1.71, 5.0, 1.57, 3.0, 3.02, 3.92, 1.67, 3.71,
                   3.5, 3.35, 4.08, 2.75, 2.23, 7.58, 3.18, 2.34, 2.0,
                   2.0, 4.3, 3.0, 1.45, 2.5, 3.0, 2.45, 3.27, 3.6, 2.0,
                   3.07, 2.31, 5.0, 2.24, 2.54, 3.06, 1.32, 5.6, 3.0, 5.0,
                   6.0, 2.05, 3.0, 2.5, 2.6, 5.2, 1.56, 4.34, 3.51, 3.0,
                   1.5, 1.76, 6.73, 3.21, 2.0, 1.98, 3.76, 2.64, 3.15,
                   2.47, 1.0, 2.01, 2.09, 1.97, 3.0, 3.14, 5.0, 2.2, 1.25,
                   3.08, 4.0, 3.0, 2.71, 3.0, 3.4, 1.83, 5.0, 2.03, 5.17,
                   2.0, 4.0, 5.85, 3.0, 3.0, 3.5, 1.0, 4.3, 3.25, 4.73,
                   4.0, 1.5, 3.0, 1.5, 2.5, 3.0, 2.5, 3.48, 4.08, 1.64,
                   4.06, 4.29, 3.76, 4.0, 3.0, 1.0, 4.0, 2.55, 4.0, 3.5,
                   5.07, 1.5, 1.8, 2.92, 2.31, 1.68, 2.5, 2.0, 2.52, 4.2,
                   1.48, 2.0, 2.0, 2.18, 1.5, 2.83, 1.5, 2.0, 3.25, 1.25,
                   2.0, 2.0, 2.0, 2.75, 3.5, 6.7, 5.0, 5.0, 2.3, 1.5,
                   1.36, 1.63, 1.73, 2.0, 2.5, 2.0, 2.74, 2.0, 2.0, 5.14,
                   5.0, 3.75, 2.61, 2.0, 3.5, 2.5, 2.0, 2.0, 3.0, 3.48,
                   2.24, 4.5, 1.61, 2.0, 10.0, 3.16, 5.15, 3.18, 4.0,
                   3.11, 2.0, 2.0, 4.0, 3.55, 3.68, 5.65, 3.5, 6.5, 3.0,
                   5.0, 3.5, 2.0, 3.5, 4.0, 1.5, 4.19, 2.56, 2.02, 4.0,
                   1.44, 2.0, 5.0, 2.0, 2.0, 4.0, 2.01, 2.0, 2.5, 4.0,
                   3.23, 3.41, 3.0, 2.03, 2.23, 2.0, 5.16, 9.0, 2.5, 6.5,
                   1.1, 3.0, 1.5, 1.44, 3.09, 2.2, 3.48, 1.92, 3.0, 1.58,
                   2.5, 2.0, 3.0, 2.72, 2.88, 2.0, 3.0, 3.39, 1.47, 3.0,
                   1.25, 1.0, 1.17, 4.67, 5.92, 2.0, 2.0, 1.75, 3.0],
             mask=False,
       fill_value='?',
            dtype=object)

In [149]:
# numpy는 count를 제공하지 않는다.
ma.count(xx)  # AttributeError: module 'numpy' has no attribute 'count'

244

In [151]:
ma.mean(xx)

2.9982786885245902

In [154]:
ma.std(xx)

1.3807999538298958

In [162]:
# AttributeError
# ma.max(xx)
# xx.max()
type(xx) # numpy.ma.core.MaskedArray
type(kk) # numpy.ndarray
kk.max() #

10.0

In [165]:
# AttributeError
# xx.min()
kk.min()

1.0