<a href="https://colab.research.google.com/github/viperact/pythondemo/blob/main/python_05_%ED%81%B4%EB%9E%98%EC%8A%A4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### callable  
- 이름 뒤에 괄호( )를 붙이는 것을 call(호출)이라고 한다.
- 이름 뒤에 괄호( )를 붙일 수 있는 것을 callable이라고 한다.
- python에서 callable인 것이 3가지의 유형이 있다
 1. function
 2. class(__init__가 정의 되었을 경우)
 3. object(__call__가 정의되었을 경우)

###객체지향 프로그래밍
 - is : 메모리 주소
 - issubclass(child, parent) : 상속여부
 - isinstance(a, int) : int클래스의 a가 인스턴스 여부

In [5]:
# int의 literal
a = 1

In [6]:
print(type(a))

<class 'int'>

In [4]:
# 정수값 1을 int의 인스턴스 방식으로 만들 수 있다.
a = int('1') # a 는 int타입으로 생성한 instance

In [7]:
print(type(a))

<class 'int'>

In [8]:
isinstance(a, int)

True

In [10]:
isinstance(a, str)

False

In [11]:
class A:
  x = 1
  def prn():
    a = 1

In [12]:
callable(A)

True

In [13]:
# 사용할때 괄호를 붙인다. -> callable
A()

In [14]:
print(dir(A)) # __init__

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'prn', 'x']

In [ ]:
# k는 A를 인스턴스에서 나온 값이다
k = A()

In [16]:
# def는 외부에서 내부 접근불가
def fn():
  x = 3

In [21]:
x

NameError: ignored

class는 내부에 있는 값을 접근할 수 있다.  
2가지 방법으로 접근 가능하다.  
- 클래스에서 접근
- 인스턴스에서 접근

In [18]:
class A:
  x = 1

In [19]:
# class는 외부에서 내부 접근가능
A.x

1

In [22]:
aa = A() # 인스턴스 생성
aa.x # 인스턴스에서 접근

1

In [23]:
type(int) # python에서 제공하는 내장 클래스이다. (built-in 클래스)

type

In [25]:
type(A) # 사용자가 정의한 클래스

type

In [27]:
type(fn) # 함수

function

In [28]:
# instance
type(aa) # instance를 생성한 클래스 출력

__main__.A

In [29]:
class Employee:
  x = 1
  def display(self, y): # 메소드를 정의할때는 () 안에 self를 무조건 작성
   self.y = y
   print(y)

In [31]:
ps = Employee()

In [32]:
ps.x

1

In [33]:
ps.y

AttributeError: ignored

In [34]:
ps.display(3)

3

In [35]:
ps.y

3

In [36]:
Employee.y

AttributeError: ignored

In [37]:
ps2 = Employee()

In [38]:
ps2.x

1

In [40]:
Employee.y = 10

In [41]:
Employee.y

10

In [42]:
ps2.display(5)

5

In [43]:
ps2.y

5

In [44]:
Employee.y

10

In [58]:
class Department:
  x = 3   # 클래스 변수
  def display(self, y):   # 메소드
    self.y = y   # intance 변수
    print(y)

pd = Department()
print(pd.x) # 3
print(Department.x) # 3
# print(Department.y)
pd.display(5) # 5
# print(Department.y)

ps = Department()
print(ps.x) # 3
ps.x = 10
print(ps.x) # 10
print(pd.x) # 3
print(Department.x) # 3
Department.x = 500
print(Department.x)
print(pd.x)
print(ps.x)

Department.y = 900
print(Department.y)
print(pd.y)
print(ps.y)

3
3
5
3
10
3
3
500
500
10
900
5
900

In [59]:
# python 함수와 메소드 구분이 모호하다.
# built_in_function_or_method
sum

instance에서는 class attribute에 접근 가능하다.  
class에서는 instance attribute에 접근할 수 없다.

In [63]:
class Manager:
  x = 3

a = Manager()
a.red = "레드"

print(a.x)
print(Manager.red)

3

AttributeError: ignored

In [89]:
class A:
  a = 1
  def display(self, k):
    self.k = k
  
  # 인스턴스 메소드에서 첫번째 인자는 무조건 생략할 수 없다. (self)
  def prn(self):
    print(self.a)

print(A.a)
x = A()
x.display(5)  # self = this(java)
print(x.k)
x.prn()

1
5
1

In [90]:
# class를 호출할땐 객체값(self값)을 넣어줘야한다
A.display(x, 7)
x.k

7

In [91]:
A.prn(x)
x.prn()

1
1