<a href="https://colab.research.google.com/github/viperact/pythondemo/blob/main/python_02_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [ ]:
import antigravity

In [ ]:
antigravity

In [ ]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [ ]:
len(keyword.kwlist)

35

In [ ]:
print("Hello World")

Hello World

In [ ]:
print('Hello World')

Hello World

접근제어자  
공백 : public  
_ : protected  
__ : private

세미콜론
파이썬은 한 구문을 줄바꿈으로 사용한다.  
 그러므로 세미콜론은 사용하지 않는다.  
 연속으로 출력할땐 세미콜론을 사용한다.

In [ ]:
print("python"); print("module")

python
module

들여쓰기

파이썬은 문법적인 강제사항이다.

들여쓰기는 공백(Space), Tab 모두 사용가능하지만 Space를 선호

공백과 탭을 섞어쓰면 안된다.

함수정의에서 콜론을 쓰고 다음줄은 들여쓰기를 해줘야한다.

In [ ]:
a = 10; b= 20
if(a == 10) and \
 (b == 20):
     print('OK')

OK

역슬래시 (\)는 줄바꿈 구문을 이어붙여주는 역할

In [ ]:
pen = ko = 100
print(pen)
print(ko)

100
100

In [ ]:
language = 'korea'
body = "tag"
print(language)
print(body)

korea
tag

In [ ]:
a = 1
a = eval('a + 4')
print(a)

5

eval() : ()안의 식을 계산해서 리턴해준다

자료형의 분류
https://datascienceschool.net/01%20python/02.14%20%ED%8C%8C%EC%9D%B4%EC%8D%AC%EC%9D%98%20%EC%9E%90%EB%A3%8C%ED%98%95.html

모든값을 type()함수를 통해 자료형을 확인 할 수 있다.

list의 기호는 [ ] (대괄호)  
tuple의 기호는 ( ) (소괄호)

In [ ]:
print (type(5))
print (type(85.3))
print (type([1, 5, 8]))
print (type((2, 6, 7)))

<class 'int'>
<class 'float'>
<class 'list'>
<class 'tuple'>

dir() : 자료형의 내장함수를 검색할 수 있다.

In [ ]:
dir(str) #문자열 내장함수 검색

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
dir(int)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

help() : 자료형에서 제공하는 메소드 사용법을 검색할 수 있다.

In [ ]:
help(str.index)

Help on method_descriptor:

index(...)
    S.index(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Raises ValueError when the substring is not found.

Number 타입은 숫자 값을 저장

int , float, complex

In [ ]:
data = 1 + 2j #실수부 (1) 허수부(2j) 허수부는 j로 표현 (j는 소문자 대문자 상관없음)
data.real
data.imag

2.0

python에서 2진수, 8진수, 16진수도 사용할 수 있다.

16진법 접두 : 0x  
사용가능 숫자: 0~9, a-f  
ex) 0x2f

8진법 접두 : 0o  
사용가능 숫자 : 0~7  
ex) 0o17

2진법 접두 : 0b  
사용가능 숫자 : 0,1  
ex) 0b1101

boolean값은 True, False

In [ ]:
x = 30; y = 10
print (divmod(x,y)) #(x // y, x % y)쌍을 구한다
print (pow(x,y)) #(x의 y승을 구한다.)
a = [10, 20, 30, 40]
print (max(a)) # a의 최대값을 구한다
print (min(a)) # a의 최소값을 구한다
print (sum(a)) # a의 합계를 구한다

(3, 0)
590490000000000
40
10
100

In [ ]:
import sys
sys.maxsize # 최대 정수값을 표시해줌
9223372036854775807 + 1 # 최대값에 1을 더해도 오버플로우가 발생하지않는다. 파이썬은 내부적으로 자동 확장해준다. 대신, 실행속도가 느려진다.

9223372036854775808

In [ ]:
s_val = 'hello python!'
print (s_val[0:3]) #문자열의 슬라이싱 : [인덱스 시작(이상) : 인덱스 끝(미만) : 스텝] 스텝은 default로 1의 값을 갖는다
print (s_val[1:3]) #1부터 3미만까지 자바는 , 로 구분해줬지만 파이썬은 : 로 구분함
print (s_val[1:]) #1부터 끝까지
print (s_val[:3]) # 3미만 까지

hel
el
ello python!
hel

In [ ]:
s_val

'hello python!'

In [ ]:
s_val[:]

'hello python!'

In [ ]:
s_val[-1]

'!'

In [ ]:
s_val[::2] #2칸마다의 문자열을 가져옴

'hlopto!'

In [ ]:
s_val[::-2] #역순으로 2칸마다의 문자열을 가져옴

'!otpolh'

In [ ]:
s_val[::-1] # 문자열을 역순으로 가져온다

'!nohtyp olleh'

In [ ]:
s_val2 = 'hello' + ' ' + 'python!' #문자열의 연결하기는 (+) 연산자를 사용
s_val2

'hello python!'

In [ ]:
s_val3 = 'win' * 3 #문자열 반복하기는 (*)연산자를 사용
s_val3

'winwinwin'

In [ ]:
s_val3 = 'hello python!' #문자열을 변경할때 슬라이싱과 연결하기 사용
s_val4 = 'H' + s_val3[1:]
s_val4

'Hello python!'

In [ ]:
len(s_val4) #문자열의 길이는 len()내장함수를 사용

13

In [ ]:
 #in 연산자로 멤버 검사를 해서 부분 문자열의 존재를 확인
'python' in s_val4 #'python'가 문자열 s_val4 안에 있는가?

True

In [ ]:
'python' not in s_val4 # #'python'가 문자열 s_val4 안에 없는가?

False

여러 줄 문자열은 작은따옴표나 큰따옴표를 세 번 연속해서 입력

In [ ]:
s_val5 = '''돈이 다 무슨소용인가? 사람이 아침에 일어나고 밤에 잠자리에 들며 그 사이에 하고싶은 일을 한다면 그 사람은 성공한 것이다.'''
s_val5

'돈이 다 무슨소용인가? 사람이 아침에 일어나고 밤에 잠자리에 들며 그 사이에 하고싶은 일을 한다면 그 사람은 성공한 것이다.'

키보드로 데이터를 입력받는 input() 함수

In [ ]:
input("3 + 2 ?")

3 + 2 ?5

'5'

In [ ]:
a = input('첫번째 정수 입력 : ')
type(a)

첫번째 정수 입력 : 10

str

In [ ]:
b = input('두번째 정수 입력 : ')
type(b)

두번째 정수 입력 : 6

str

In [ ]:
c = int(a) + int(b) # string형식인 a와b를 int형식으로 바꿔줌
print (c)

16

In [ ]:
#어떤 문서 양식을 만들어 놓고 빈칸에 필요한 내용을 채워서 문서를 지정한다.
s_val6 = 'python'
s_val7 = 83.5
print('%s의 점수는 %f입니다.' %(s_val6, s_val7)) # python1,2방식

python의 점수는 83.500000입니다.

In [ ]:
# '{인덱스}'.format(값)
'Hello, {0} {2} {1}'.format('Python', 'Script', 3.6) #'{인덱스}'.format(값)

'Hello, Python 3.6 Script'

In [ ]:
'Hello, {} {}'.format('Python', 3.6) #인덱스 생략하면 format에 지정한 순서대로

'Hello, Python 3.6'

In [ ]:
'Hello, {language} {version}'.format(language = 'Python', version = 3.6) #인덱스 대신 이름지정하기

'Hello, Python 3.6'

In [ ]:
#변수 선언
language = 'Python'
version = 3.6
'Hello, {language} {version}' #문자열 포매팅에 변수를 그대로 사용하기 (지원 X)

In [ ]:
#sep은 'seperator'의 약어이며 항목 사이에 삽입할 문자열을 지정
hp1 = '010'
hp2 = '2531'
hp3 = '9234'
print (hp1, hp2, hp3, sep = '-')

010-2531-9234

In [ ]:
print('KOREA'.lower()) #소문자로
print('korea'.upper()) #대문자로
print('korea'.swapcase()) #소문자를 대문자로 변경
print('KOREA'.swapcase()) #대문자를 소문자로 변경
print('we are the world'.title()) #단어의 첫글자만 대문자로 변경
print('we are the world'.capitalize()) #문장의 첫글자만 대문자로 변경

korea
KOREA
KOREA
korea
We Are The World
We are the world

In [ ]:
print('KORea'.islower()) #모든문자가 소문자인지?
print('korea'.islower())
print('KORea'.isupper()) #모든 문자가 대문자인지?
print('KOREA'.isupper())

False
True
False
True

In [ ]:
print('we are the world'.find('are'))
print('we are the world'.find('WORLD')) #찾는 단어가 없으면 -1을 반환
print('we are the world'.index('are'))
print('we are the world'.index('WORLD')) #찾는 단어가 없으면 예외(오류)를 반환

3
-1
3

ValueError: ignored

In [ ]:
print('we are the world'.join('**'))

*we are the world*

In [ ]:
print('we are'.isalnum())
print('weare'.isalnum())
print('we123'.isalnum())
print('we123'.isdecimal())
print('123'.isdecimal())
print('123.4'.isdecimal())
print('123.4'.isdigit())

False
True
True
False
True
False
False

In [ ]:
#리스트(List)
print('we are the world'.split()) #list( [] )로 리턴

['we', 'are', 'the', 'world']

In [ ]:
#값 사이에 콤마(,)를 구분하여 사용한다
l_val = [10, 20, 30]
l_val

[10, 20, 30]

In [ ]:
type(l_val)

list

In [ ]:
#다양한 타입을 함께 포함할 수 있다.
l_val2 = [10, 'python', 80.5, True]
l_val2

[10, 'python', 80.5, True]

In [ ]:
#인덱스를 이용해서 리스트의 각 원소에 접근할 수 있다.
l_val3 = [5, 10, 15, 20, 25]
l_val3[0] #0인덱스 요소를 리턴

5

In [ ]:
l_val3[-1] #음수를 사용하면 요소 마지막부터 찾음

25

In [ ]:
l_val3[0:2] #슬라이싱

[5, 10]

In [ ]:
l_val3[::2] #확장 슬라이싱 step, 파이썬2.3이상

[5, 15, 25]

In [ ]:
# +, *연산자를 사용하여 이어붙일 수도 반복할 수도 있다.
l_val3 + l_val3 + l_val3 #연결하기

[5, 10, 15, 20, 25, 5, 10, 15, 20, 25, 5, 10, 15, 20, 25]

In [ ]:
l_val3 + [30, 35] # 연결하기

[5, 10, 15, 20, 25, 30, 35]

In [ ]:
l_val3*3 # 반복하기

[5, 10, 15, 20, 25, 5, 10, 15, 20, 25, 5, 10, 15, 20, 25]

In [ ]:
#리스트에 특정값이 있는지 검사할 수 있다.
5 in l_val3 # 멤버 검사, 5가 l_val3 에 있는지

True

In [ ]:
#리스트는 요소들을 변경할 수 있다.(1/2)
l_val4 = ['apple', 'banana', 100, 200]
l_val4[2] = 300
l_val4

['apple', 'banana', 300, 200]

In [ ]:
#리스트는 요소들을 변경할 수 있다.(2/2)
l_val5 = ['apple', 'banana',100, 200]
l_val5[0:2] = [1,2] #지정한 인덱스[0:2] 범위의 요소를 [1,2]로 변경한다.
l_val5

[1, 2, 100, 200]

In [ ]:
l_val5[0:2] = [100] #크기가 달라도 된다.
l_val5

[100, 100, 200]

In [ ]:
#리스트의 일부 요소를 삭제한다
l_val6 = ['apple', 'banana', 100, 200]
l_val6[0:2] = [] #인덱스 0부터 2미만 요소 2개를 삭제한다
l_val6

[100, 200]

In [ ]:
#Del문을 이용해서 요소를 삭제할 수 있다.
l_val7 = [2, 4, 6, 8]
del l_val7[0]
l_val7

[4, 6, 8]

In [ ]:
#리스트에 요소를 추가한다.
l_val8 = [3, 6, 9]
l_val8[1:1] = ['red', 'green'] #인덱스 1부터 1미만자리에 추가 (기존 있던것들은 밀려남), [1]을 입력하면 []값이 통째로들어감
l_val8

[3, 'red', 'green', 6, 9]

In [ ]:
#확장 슬라이싱(step)을 사용할때는 왼쪽가 오른쪽 요소 개수가 같아야 한다.
l_val9 = [2, 4, 6, 8]
l_val9[::2] = [-1, -2, -3, -4] #l_val9[::2]결과는 [2, 6] 요소개수가 달라 오류가 출력
l_val9

ValueError: ignored

In [ ]:
#중첩리스트 : 리스트안에 또 다른 리스트를 포함할 수 있다.
l_val10 = [10, 20, 30]
l_val10 = ['star', l_val10, 'end']
l_val10

['star', [10, 20, 30], 'end']

In [ ]:
# JAVA Destructuring
#한 변수에서 데이터를 각각 꺼내 오는것을 (언패킹(unpacking)) 지원
a = ['foo', 'bar', 4, 5]
x, y, z, w = a
print(x, y, z, w)

foo bar 4 5

In [ ]:
#리스트(list) 메소드
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
l_val11 = ['red', 'green', 'blue', 'white', 'black']
print(l_val11.append("orange"))
print(l_val11)
print(l_val11.extend(['yello', 'aqua']))
print(l_val11)
l_val11.extend('purple')
print(l_val11) #extend는 문자열이 하나하나 쪼개져서 입력됨
l_val11.insert(0,"gray")
print(l_val11)
l_val11.remove("p")
print(l_val11)
l_val11.pop()
print(l_val11)
l_val11.pop(0)
print(l_val11)
print(l_val11.index("blue"))

print(l_val11.count("white"))

print(l_val11.sort()) #오름차순 정렬
print(l_val11)

print(l_val11.reverse()) #내림차순 정렬
print(l_val11)

l_val10 = l_val11.copy() #얇은복사
print(l_val11)
print(l_val10)

l_val10[0] = 'gray'; #서로 영향이가지않음
print(l_val11)
print(l_val10)

l_val10.clear()
print('clear', l_val10)

None
['red', 'green', 'blue', 'white', 'black', 'orange']
None
['red', 'green', 'blue', 'white', 'black', 'orange', 'yello', 'aqua']
['red', 'green', 'blue', 'white', 'black', 'orange', 'yello', 'aqua', 'p', 'u', 'r', 'p', 'l', 'e']
['gray', 'red', 'green', 'blue', 'white', 'black', 'orange', 'yello', 'aqua', 'p', 'u', 'r', 'p', 'l', 'e']
['gray', 'red', 'green', 'blue', 'white', 'black', 'orange', 'yello', 'aqua', 'u', 'r', 'p', 'l', 'e']
['gray', 'red', 'green', 'blue', 'white', 'black', 'orange', 'yello', 'aqua', 'u', 'r', 'p', 'l']
['red', 'green', 'blue', 'white', 'black', 'orange', 'yello', 'aqua', 'u', 'r', 'p', 'l']
2
1
None
['aqua', 'black', 'blue', 'green', 'l', 'orange', 'p', 'r', 'red', 'u', 'white', 'yello']
None
['yello', 'white', 'u', 'red', 'r', 'p', 'orange', 'l', 'green', 'blue', 'black', 'aqua']
['yello', 'white', 'u', 'red', 'r', 'p', 'orange', 'l', 'green', 'blue', 'black', 'aqua']
['yello', 'white', 'u', 'red', 'r', 'p', 'orange', 'l', 'green', 'blue', 'black', 'aqua']
['yello', 'white', 'u', 'red', 'r', 'p', 'orange', 'l', 'green', 'blue', 'black', 'aqua']
['gray', 'white', 'u', 'red', 'r', 'p', 'orange', 'l', 'green', 'blue', 'black', 'aqua']
clear []

In [ ]:
a = ['red', 'blue']
b = a
print(a, b)
b[0] = 'white'
print(a, b)

['red', 'blue'] ['red', 'blue']
['white', 'blue'] ['white', 'blue']

In [ ]:
a = ['red', 'green']
b = []
print(a, b)

b.extend(a)
print(a, b)
b[0] = 'black'
print(a, b)

['red', 'green'] []
['red', 'green'] ['red', 'green']
['red', 'green'] ['black', 'green']

In [ ]:
#1차원일때는 얇은복사
a = ['red', 'green']
b = a.copy();
print(a, b)
b[0] = 'black'
print(a, b)

['red', 'green'] ['red', 'green']
['red', 'green'] ['black', 'green']

In [ ]:
#2차원일때는 깊은복사
a = [['red', 'green']]
b = a.copy();
print(a, b)
b[0][0] = 'black'
print(a, b)

[['red', 'green']] [['red', 'green']]
[['black', 'green']] [['black', 'green']]

In [ ]:
import copy

a = [['red', 'green']]
b = copy.deepcopy(a);
print(a, b)
b[0][0] = 'black'
print(a, b)

[['red', 'green']] [['red', 'green']]
[['red', 'green']] [['black', 'green']]

In [ ]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
#튜플
#변경이 불가능한 순서(sequence)가 있는 자료형이다
#튜플은 ( )소괄호로 표현한다.
#값 사이에 콤마(,)를 구분하여 사용한다
t_val = (10, 20, 30) #t_val = 10, 20, 30 괄호 없이도 표현가능
t_val

(10, 20, 30)

In [ ]:
type(t_val)

tuple

In [ ]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
#괄호()는 수식어에서의 ()와 혼동될 가능성이 있기 때문에 주의해야 한다.
#예를 들어, t_val2 = (1)은 t_val2 = 1 로 해석된다
t_val2 = (1)
type(t_val2)

int

In [ ]:
t_val2 = (1,) #데이터가 한 개일 때는 반드시 쉼표(,)가 있어야 한다.
t_val2 = 1, #괄호는 없어도 쉼표(,)는 있어야 한다.
type(t_val2)

tuple

In [ ]:
#list와 비슷하지만 한번 생성 되면 Tuple은 변경할 수 없다.
t_val3 = (1,2,3)
t_val3[0] = 100

TypeError: ignored

In [ ]:
#다양한 타입을 함께 포함할 수 있다.
t_val4 = (10, 'python', 80.5, True)
t_val4

(10, 'python', 80.5, True)

In [ ]:
#인덱스를 이용해서 튜플의 각 원소에 접근할 수 있다.(1/2)
t_val5 = (5, 10, 15, 20, 25)
len(t_val5) #데이터의 개수를 리턴

5

In [ ]:
t_val5[0] #0인덱스 요소를 리턴

5

In [ ]:
#인덱스를 이용해서 튜플의 각 원소에도 접근할 수 있다.(2/2)
t_val5[-1] #음수를 사용하면 요소 마지막부터 찾음

25

In [ ]:
t_val5[0:2] #슬라이싱

(5, 10)

In [ ]:
t_val5[::2] #혹장 슬라이싱, 파이썬2,3이상

(5, 15, 25)

In [ ]:
# +, * 연산자를 사용하여 이어붙일 수도 반복할 수도 있다.
t_val5 + t_val5 + t_val5 #연결하기

(5, 10, 15, 20, 25, 5, 10, 15, 20, 25, 5, 10, 15, 20, 25)

In [ ]:
t_val5 + (30, 35) #연결하기

(5, 10, 15, 20, 25, 30, 35)

In [ ]:
t_val5 * 3 #반복하기

(5, 10, 15, 20, 25, 5, 10, 15, 20, 25, 5, 10, 15, 20, 25)

In [ ]:
#튜플에 특정값이 있는지 검사할 수 있다.
5 in t_val5 #멤버 검사

True

In [ ]:
#튜플은 검색에 관련된 메서드 2개(count, index)를 갖는다
t_val6 = (1, 2, 3, 2, 2, 3)
t_val6.count(2) #2가 몇개 있는가?

3

In [ ]:
t_val6.index(2) #첫번째 2의 인덱스는?

1

In [ ]:
t_val6.index(2,2) #첫 번째 2의 인덱스를 2위치부터 검색해 나간다

3

In [ ]:
#튜플을 중첩해서 사용할 수 있다.
t_val7 = ('python','hello!!')
t_val8 = (t_val7, (1, 2, 3)) #t_val8 = t_val7, (1, 2, 3)
t_val8

(('python', 'hello!!'), (1, 2, 3))

In [ ]:
#한 변수에 데이터를 각각 꺼내 오는 것을 언패킹(unpacking)지원(1/2)
t_val9 = (10, 20, 30)
l,m,n = t_val9
print(l,m,n)

10 20 30

In [ ]:
#한 변수에 데이터를 각각 꺼내 오는 것을 언패킹(unpacking)지원(2/2)
t_val10 = ((1, 2),(3, 4))
(x1, y1), (x2, y2) = t_val10
(x1, y1)

(1, 2)

In [ ]:
(x2, y2)

(3, 4)

In [ ]:
#확장된 언패킹(unpacking)을 이용한 자유로운 형태 이용 (1/3)
t_val12 = (1, 2, 3, 4, 5)
a, *b = t_val12
print(a, b)
print(type(a), type(b))

1 [2, 3, 4, 5]
<class 'int'> <class 'list'>

In [ ]:
#확장된 언패킹(unpacking)을 이용한 자유로운 형태 이용 (2/3)
*a, b = t_val12
print(a, b)

[1, 2, 3, 4] 5

In [ ]:
a, b, *c = t_val12
print(a, b, c)

1 2 [3, 4, 5]

In [ ]:
#확장된 언패킹(unpacking)을 이용한 자유로운 형태 이용 (3/3)
# *a와 같은 식의 표현은 나머지 전부를 의미한다. 그래서 *기호는 한번만 사용해야 한다.
a, *b, *c = t_val12

SyntaxError: ignored

튜플과 리스트의 공통점  
  - 임의의 객체를 저장할 수 있다는 것과 순서(sequence)자료형이다.

튜플과 리스트의 차이점  
  - 튜플은 변경 불가능한 순서(sequence)자료형이다.  
  - 튜플은 함수의 가변 인수를 지원한다.

In [ ]:
#리스트와 튜플은 list()와 tuple()내장함수를 사용하여 상호변환 가능(1/2)
t_val13 = (1, 2, 3, 4, 5)
l_val = list(t_val13)
l_val[0] = 100
l_val

[100, 2, 3, 4, 5]

In [ ]:
type(l_val)

list

In [ ]:
#리스트와 튜플은 list()와 tuple()내장함수를 사용하여 상호변환 가능(2/2)
t_val14 = tuple(l_val)
t_val14

(100, 2, 3, 4, 5)

In [ ]:
type(t_val14)

tuple

In [ ]:
#반드시 튜플을 사용하는 3가지 경우
# 첫번째는 함수에 있어서 하나 이상의 값을 반환할때이다.
def calc(a, b):
  return a + b, a * b # 튜플을 반환한다
x, y = calc(5, 4)
print(x, y)

9 20